{
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 96,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "proseWrap": "always"
}
