name: Publishing
on:
  release:
    types:
      - published
jobs:
  publish:
    name: publish
    runs-on: wallet-tools-linux-medium

    permissions:
      contents: read

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2


      - name: Setup NodeJS Environment
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm install

      - name: Create .npmrc
        run: |
            touch .npmrc
            echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> .npmrc

      - name: Publish
        run: npm publish --public
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
