name: Publishing
on:
  release:
    types:
      - published
permissions:
  contents: read

jobs:
  publish:
    name: publish
    runs-on: wallet-tools-linux-medium

    permissions:
      contents: read

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0


      - name: Setup NodeJS Environment
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm install

      - name: Create .npmrc
        run: |
            touch .npmrc
            echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> .npmrc

      - name: Publish
        run: npm publish --public
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
