name: Publishing
on:
  release:
    types:
      - published

permissions:
  contents: read
  id-token: write

jobs:
  build-and-pack:
    name: Build and Pack
    runs-on: wallet-tools-linux-medium

    permissions:
      contents: read

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup NodeJS Environment
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20.x
          registry-url: 'https://registry.npmjs.org'

      - name: Update npm
        run: npm install -g npm@latest

      - name: Install dependencies
        run: npm install

      - name: Pack Package
        id: pack
        run: |
          # npm pack creates a .tgz file
          # We capture the filename to use it in the upload step
          npm pack
          echo "PACK_FILENAME=$(ls *.tgz)" >> $GITHUB_OUTPUT

      - name: Upload Package Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: package-artifact
          path: ${{ steps.pack.outputs.PACK_FILENAME }}
          if-no-files-found: error

  publish-package:
    name: Publish to NPM
    needs: build-and-pack
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Setup NodeJS Environment
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20.x
          registry-url: 'https://registry.npmjs.org'

      - name: Update npm
        run: npm install -g npm@latest

      - name: Download Package Artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: package-artifact

      - name: Publish
        run: npm publish $(ls *.tgz) --public
