name: Test
on:
  workflow_dispatch:
  pull_request:
    branches: [main]
jobs:
  test-node:
    name: Unit Tests
    runs-on: [self-hosted, Linux, medium, ephemeral]
    permissions: 
       checks: write
       pull-requests: write
       contents: read

    steps:
      - name: Setup NodeJS Environment
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d
        with:
          node-version: 18.x
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: Test
        uses: ArtiomTr/jest-coverage-report-action@v2
        with:
         test-script: npm run test
