name: Test
on:
  workflow_dispatch:
  pull_request:
    branches: [main]
jobs:
  test-node:
    name: Unit Tests
    runs-on: [ self-hosted, Linux, medium, ephemeral ]
    steps:
      - name: Use Node.js TLS 16.x
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
        with:
          node-version: 18
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: Test
        uses: ArtiomTr/jest-coverage-report-action@v2
        with:
         test-script: npm run test
